#close-header{
	border:none;
}
#card-modal-content{
    background: #f8f9fa url(/content/dam/abott/three-card-modal-bg.png) no-repeat top left fixed;
    background-size: contain;
    padding: 0;
    position: relative;
    min-height: 100vh;
}
#modal-dialog-container{
        margin:0 auto;
        width:90%;
    }
.switch {
        display:block;
    }
.mod {
	display:none;
    }
.itz-story{
    	box-sizing: border-box;
	}
    
   .story-view{     
        background-size: contain;
        padding: 0;
        position: relative;
        min-height: 100vh;
    }
    .custom-modal-page {
        max-width: 950px;
    	width: 100%;
    	margin: 0 auto;
    	padding-top: 70px;
    }
    .join-btn {
    	margin: 35px 0 40px;
        }
    .join-btn a{	    
    			text-decoration: none;
                color: #021394;
                font-size: 16px;
                font-weight: 500;
                border-radius: 5px;
                background-color: #ffd100;
                box-shadow: 0 0 16px 0 rgba(0,0,0,0.16);
                padding: 15px 60px;
        }
    
    .modal-dialog-box {
    	    background-color: #fff;
            }
    .modal-dialog-view {
      	    box-shadow: 0 0 24px 0 rgba(34,39,49,0.2);
    		border-radius: 8px;
            }
	#modal-description-container {
		background: #fff;
    	border-radius: 5px;
    	min-height: 550px;
    .modal-card-description{
        padding-bottom: 20px;
    }
}
       .tags {
            margin-left: -40px;
            li {
            background-color: #ffd100;
            border-radius: 27px;
            color: #222731;
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .3px;
            line-height: 24px;
            margin-right: 9px;
    		margin-bottom: 5px;
            padding: 0 9px;
            text-align: center;
            vertical-align: middle;
            }
        }

	.modal-body-view {
	padding:0px;
	}
   .body-view{
        	background: #009cde;
    		border-radius: 5px;
   			margin: 0!important;
            padding:0!important;
   }
  	#popImage-container {
   		border-top-left-radius: 8px;
   	 	border-top-right-radius: 0;
   		border-bottom-left-radius: 8px;
		margin: 0;
		padding:0px;
		box-sizing: border-box;
    	min-height: 550px;
   }
   .story-image-wrapper {
   		 transform: translateX(80px);
   		 margin-left: 15px;
   		 padding-top: 35px;
    	 position: absolute;
    	 z-index:2;
   }
   .card-body-details {
   	    background: transparent;
        padding: 0 5% 0 27%;
   	 	border: 0;
   }
   .card-content {
   	    border: 0;
		padding-top:35px;
    	box-shadow: none;
        flex: 1 1 auto;   
   }
   .tag-button {
      cursor: pointer;
      margin-right: 11px;
      padding: 0 9px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .3px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 12.5px;
      background-color: #ffd100;
      color: #222731;
      margin-right: 9px;
      margin-bottom: 5px;
   }
   .social-icons {
      font-size: 30px;
   	  margin: 22px 0 25px 0;
      display: block;
   }
   #icon1 {
   		display: inline-block;

   }
#icon2 {
		margin-right: 20px;
        color: #63666a;
    	width:25%;
}
.fa-twitter-square{
    color: #1DA1F2;
}
.fa-facebook-square{
    color: #3B5998;
}
#share {
margin-right: 20px;
        color: #63666a;
    	width:25%;
}
   .flip {
    font-size: 15px;
   	line-height: 24px;
   }
   .card-name {
   	color: #63666a;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 2px;
   }
   .user-img {
   max-width: 100%;
    border-style: none;
	margin-left:30px;
    vertical-align: middle;
   }
   .display-icons {
    display:none;   
   }
   .social-media {
	color:blue;
    display:inline-block;
   }

   #share:hover .display-icons{
    margin-top:10px;
	 display:block;
    position: absolute;

   }