<!--/* CORE COMPONENT TEMPLATE */-->
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>

<!--/* PLACEHOLDER FOR STORY GRID COMPONENT */-->
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.grid}"></sly>

<!--/* OBJECT FOR COMPONENT MODEL */-->
<sly data-sly-use.gridNumber="com.trainingproject.abott.core.models.StoryGridModel">

<!--/* DECLARING HTML BASED ON OPTION 0 */-->
<sly data-sly-test.grid="${gridNumber.grid=='1x2'}">
    <!--HTML FOR OPTION 0 STARTS-->
    <div id="grid-container" class="row">
        <div class="col-md-5">
                    <sly data-sly-resource="${'gridCard1' @ resourceType='/apps/abott/components/content/storyGridCard1'}"/>
        </div>
        <div class="col-lg-7">
            <div class="row">
                    <sly data-sly-resource="${'gridCard2' @ resourceType='/apps/abott/components/content/storyGridCard2'}"/>
    
            </div>
            <div class="row">
                    <sly data-sly-resource="${'gridCard3' @ resourceType='/apps/abott/components/content/storyGridCard3'}"/>
             </div>
        </div>
    </div>
    <!--HTML FOR OPTION 0 ENDS-->
</sly>

<!--/* DECLARING HTML BASED ON OPTION 1 */-->
<sly data-sly-test.grid="${gridNumber.grid=='2x1'}">
    <!--HTML FOR OPTION 1 STARTS-->
    <div id="grid-container" class="row">
        <div class="col-md-7">
                   <div class="row">
                    <sly data-sly-resource="${'gridCard2' @ resourceType='/apps/abott/components/content/storyGridCard2'}"/>
    
            </div>
            <div class="row">
                    <sly data-sly-resource="${'gridCard3' @ resourceType='/apps/abott/components/content/storyGridCard3'}"/>
             </div>
        </div>
        <div class="col-md-5">
            <sly data-sly-resource="${'gridCard1' @ resourceType='/apps/abott/components/content/storyGridCard1'}"/>
        </div>
    </div>
    <!--HTML FOR OPTION 1 ENDS-->
</sly>

<!--/* DECLARING HTML BASED ON OPTION 2 */-->
<sly data-sly-test.grid="${gridNumber.grid=='1x1'}">
    <!--HTML FOR OPTION 2 STARTS-->
    <div id="grid-container" class="row">
        <div class="col-md-5">
            <sly data-sly-resource="${'gridCard1of2' @ resourceType='/apps/abott/components/content/storyGridCard1'}"/>
        </div>
        <div class="col-md-5">
            <sly data-sly-resource="${'gridCard2of2' @ resourceType='/apps/abott/components/content/storyGridCard1'}"/>
        </div>
    </div>
    <!--HTML FOR OPTION 2 ENDS-->
</sly>